<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-photos"
      version="1.0.1">
    <name>cordova-plugin-photos</name>
    <description>Cordova-plugin-photos used for get photos from devices</description>
    
    <js-module src="www/Photos.js" name="Photos">
        <clobbers target="Photos" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="photosPlugin">
                <param name="ios-package" value="CDVPhotosPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVPhotosPlugin.h" />
        <source-file src="src/ios/CDVPhotosPlugin.m" />
    </platform>
	<info>
		Cordova-plugin-photos used for get photos from devices
	</info>

</plugin>
